.card{
    border:1px solid transparent !important;
}
.box-sd{
    box-shadow: inset 3px 3px 3px rgb(206, 206, 206),
                inset -3px -3px 3px white !important;
    border-radius:10px !important;
}
.form-control{
    box-shadow: none !important;
}