.card{
    border:1px solid transparent !important;
}
.box-sd{
    box-shadow: inset 3px 3px 3px rgb(206, 206, 206),
                inset -3px -3px 3px white !important;
    border-radius:10px !important;
}
.form-control{
    box-shadow: none !important;
}
.active{
    background-color: #ffffff;
    color:black !important;
    font-weight: bold;
    border-radius:20px;
    margin:0 10px;
}
.nav-link.active .sb-nav-link-icon{
    color:black !important;
    font-weight: bold;
}